*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
.ruby-gemset
.environment
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/tracks/
/db/ftp/
/public/uploads/*
/public/downloads/*
/coverage/
/spec/tmp/*
/config/database.yml
/config/newrelic.yml
/config/secrets.yml
/config/skylight.yml
**.orig
*~
*.swp
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
