---
layout: default
---
<div class="sixteen wide column">
  <h2 class="ui centered header">Artyści</h2>
  <div class="ui four stackable cards">
    {% for artist_hash in site.data.artists %}
      {% assign permalink = artist_hash[0] %}
      {% assign artist = artist_hash[1] %}
      {% if artist.bandcamp %}
      <a class="ui card" href="{{ artist.bandcamp }}">
      {% else %}
      <a class="ui card" href="/{{ permalink }}">
      {% endif %}
        <div class="image">
          <img src="/assets/img/{{ permalink }}-icon.png" alt="{{ artist.name }}" title="{{ artist.name }}" class="centered" />
        </div>
        <div class="content">
          <div class="header">{{ artist.name }}</div>
          <div class="meta">{{ artist.meta }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="sixteen wide column">
  <h2 class="ui centered header">O nas</h2>
</div>

<div class="ui equal width stackable grid">
  <div class="row">
    <div class="column">
      <h3 class="ui centered header">Manifest</h2>
      <ol>
        <li>Jesteśmy Karoryfer (nazwa pochodzi od urządzenia grzewczego, pisownia ujednolicona).</li>
        <li>Zajmujemy się promocją i wydawaniem.</li>
        <li>Z nazwy.</li>
        <li>Stanowimy kółko wzajemnej adoracji, które pragniemy dla Was otworzyć.</li>
        <li>Wtedy przestaniemy nim być.</li>
        <li>Zajmujemy się głównie muzyką, ale nie gardzimy też sztukami wizualnymi.</li>
        <li>Jesteśmy łasi na pieniądze, aczkolwiek nie mamy pomysłu na ich zdobycie.</li>
        <li>Nic, co dotyczy naszej firmy, nie istnieje poza internetem.</li>
        <li>Oprócz paru osób z zarządu.</li>
        <li>Wierzymy, że świat i postmodernizm się skończył a stare dobre wartości żyją i mają się dobrze.</li>
        <li>Wszystkie nasze wydawnictwa istnieją dzięki życzliwości globalnej sieci.</li>
        <li>Robimy krok dalej w ewolucji człowieka i przenosimy się w wirtual.</li>
        <li>Uważamy, że nic nie zastąpi starego dobrego .mp3 i .jpg</li>
        <li>Nośniki fizyczne są zaledwie opcją.</li>
      </ol>
    </div>

    <div class="column">
      <h3 class="ui centered header">Kontakt</h2>
      <p>Jesteśmy zainteresowani współpracą, o ile nie będzie wymagać to od nas zaangażowania.</p>
      <p>Chętnie popromujemy i poagencujemy różne projekty z różnych dziedzin, o ile uznamy je za warte tego.</p>
      <p>Weźmiemy w patronat każdy koncert, o jaki się nas poprosi.</p>
      <p>Nasze logo przykleimy wszędziemu i każdzie.</p>
      <p>Nie widzimy przeszkód, by nawiązano z nami kontakt.</p>
      <p>Czekamy więc: <a href="mailto:lecolds@karoryfer.com">lecolds@karoryfer.com</a></p>
    </div>
  </div>

  <div class="center aligned row">
    <div class="column">
      <h3 class="ui header">
        Karoryfer Mash Up Lecolds
        <div class="sub header">mix Ludwik Zamenhof</div>
      </h3>
      <audio controls>
        <source src="/assets/audio/klmiszmasz.ogg" type="audio/ogg">
        <source src="/assets/audio/klmiszmasz.mp3" type="audio/mpeg">
      </audio>
    </div>
  </div>
</div>
