<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
  <% if artist.image? %>
    <a href="<%= artist.path %>">
      <%= image_tag(artist.image.thumb.url, alt: artist.name) %>
    </a>
  <% end %>
  </div>
  <div class="col-sm-9 col-md-9 col-lg-9">
    <h1><%= link_to artist.name, artist.path %></h1>
    <p><%= artist.summary %></p>
  </div>
</div>
