<% if artist.image? %>
<p>
  <a href="<%= artist_path(artist) %>">
    <%= image_tag(artist.image.icon.url, alt: artist.name, title: artist.summary, class: 'img-rounded img-polaroid img-responsive') %>
  </a>
</p>
<% end %>
<p><a href="<%= artist_path(artist) %>"><%= artist.name %></a></p>

