<%= render_title t( 'helpers.title.artist.edit' ) %>
<p>
  <a href="<%= artist_path(@artist) %>" class="btn btn-warning btn-xs"><%=t 'helpers.action.cancel_edit' %></a>
</p>
<%= render :partial => 'form' %>

