<%= render_title t( 'title.artist.index' ) %>
<h1 class="hidden"><%=t 'title.artist.index' %></h1>
<% content_for :actions do %>
	<% if can? :write_artist, Artist %>
		<%= link_to_action t( 'action.artist.new' ), new_artist_path %>
	<% end %>
<% end %>
<ul class="row list-unstyled">
<% @artists.each do |artist| %>
  <li class="col-sm-2 col-md-2 col-lg-2">
    <div class="thumbnail text-center"><%= render artist %></div>
  </li>
<% end %>
</ul>
