<%= render_title t( 'helpers.title.artist.index' ) %>
<h1 class="hidden"><%=t 'helpers.title.artist.index' %></h1>
<% content_for :actions do %>
	<% if can? :write_artist, Artist %>
		<%= link_to_action t( 'helpers.action.artist.new' ), new_artist_path %>
	<% end %>
<% end %>
<ul class="thumbnails">
<% @artists.each do |artist| %>
  <li class="span2">
    <div class="thumbnail text-center"><%= render artist %></div>
  </li>
<% end %>
</ul>
