<%= render_title t('title.artist.new') %>
<h1><%=t  'title.artist.new' %></h1>
<% content_for :actions do %>
  <%= link_to_action t('action.cancel_new'), artists_path %>
<% end %>
<div class="clear"></div>
<%= render :partial => 'form', locals: { resource: @presenter.resource } %>
