<% unless video.url.blank? %>
  <a href="<%= artist_video_path( video.artist, video ) %>">
    <%= image_tag( video.image_url, :alt => video.title, :class => 'img-rounded img-polaroid' ) %>
  </a>
<% end %>
<h5><%= link_to video.title, artist_video_path( video.artist, video ) %></h5> 
<% unless current_artist? %>
  <p><%= video.artist.name %></p>
<% end %>

