<%= render_title t( 'helpers.title.video.new' ) %>
<% content_for :context_actions do %>
  <%= link_to_action t( "helpers.action.cancel_new" ), artist_path( @video.artist ) %>
<% end %>
<h2 class="hidden"><%= t 'helpers.title.video.index'  %></h2>
<%= render :partial => 'form' %>

