<%= render_title @view.title %>
<h2><%= @view.title %></h2>
<p><%= render partial: 'shared/edit_actions', locals: { view: @view } %></p>

<%= render partial: 'form', locals: { resource: @view.resource } %>
