<%= render_title @presenter.title %>
<h2><%= @presenter.title %></h2>
<p><%= render partial: 'shared/edit_actions', locals: { presenter: @presenter } %></p>

<%= render partial: 'form', locals: { resource: @presenter.resource } %>
