<%= render_title t( 'helpers.title.event.new' ) %>
<% content_for :context_actions do %>
  <%= link_to_action t( "helpers.action.cancel_new" ), artist_path( @event.artist ) %>
<% end %>
<h2 class="hidden"><%= t 'helpers.title.event.index' %></h2>
<%= render :partial => 'form' %>
