<% content_for :sidebar do %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="fb-page" data-href="https://www.facebook.com/karoryfer" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true" data-height="750"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/karoryfer"><a href="https://www.facebook.com/karoryfer">Karoryfer Lecolds</a></blockquote></div></div>
    </div>
  </div>
<% end %>
