<%= render_title t('title.albums') %>
<h1 class="hidden"><%= t 'title.albums' %></h1>
<ul class="row list-unstyled">
<% @album_presenters.each do |presenter| %>
  <li class="col-sm-2 col-md-2 col-lg-2">
    <div class="thumbnail text-center"><%= render partial: 'albums/album', locals: { album_presenter: presenter } %></div>
  </li>
<% end %>
</ul>
