<%= render_title t('title.artists') %>
<h1 class="hidden"><%=t 'title.artists' %></h1>
<% if current_user %>
  <% content_for :actions do %>
		<%= link_to_action t('action.add_artist'), new_admin_artist_path %>
	<% end %>
<% end %>
<ul class="row list-unstyled">
<% @artist_presenters.each do |presenter| %>
  <li class="col-sm-2 col-md-2 col-lg-2">
    <div class="thumbnail text-center"><%= render partial: 'artists/artist', locals: { artist_presenter: presenter } %></div>
  </li>
<% end %>
</ul>
