<%= render_title t('title.artist.index') %>
<h1 class="hidden"><%=t 'title.artist.index' %></h1>
<% if can? :write, Artist %>
  <% content_for :actions do %>
		<%= link_to_action t( 'action.artist.new' ), new_artist_path %>
	<% end %>
<% end %>
<ul class="row list-unstyled">
<% @artist_views.each do |view| %>
  <li class="col-sm-2 col-md-2 col-lg-2">
    <div class="thumbnail text-center"><%= render partial: 'artists/artist', locals: { artist_view: view } %></div>
  </li>
<% end %>
</ul>
