<%= render partial: 'sidebar' %>

<div class="jumbotron">
  <h1><%=t 'label.site.name' %></h1>
  <p><%=t 'label.site.desc' %></p>
</div>

<ul class="row list-unstyled">
  <% @artist_presenters.each do |presenter| %>
    <li class="col-sm-2 col-md-2 col-lg-2">
      <div class="thumbnail text-center"><%= render partial: 'artists/artist', locals: { artist_presenter: presenter } %></div>
    </li>
  <% end %>
</ul>
