<%= render partial: 'sidebar' %>

<div class="jumbotron">
  <h1><%=t 'label.site.name' %></h1>
  <p><%=t 'label.site.desc' %></p>
</div>

<p class="text-center">
<%= render partial: 'embeds/google_calendar' %>
</p>
