---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Karoryfer Lecolds</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  </head>
  <body>
    <div class="ui grid container">
      <div class="sixteen wide column">
        <a href="/">
          <img src="/assets/img/logo_with_name.png" alt="Karoryfer Lecolds" title="Karoryfer Lecolds" class="ui centered image"/>
        </a>
        <h2 class="ui centered sub header">Wirtualna wytwórnia płytowa</h2>
      </div>

      <div class="sixteen wide column">
        <div class="ui borderless menu">
          <div class="item">
            <a href="https://karoryferlecolds.bandcamp.com/" class="button">Muzyka</a>
          </div>
          <div class="item">
            <a href="https://shop.karoryfer.com/" class="button">Sample</a>
          </div>
          <div class="right menu item">
            <a href="http://www.facebook.com/karoryfer" target="_blank">
              <img src="/assets/img/facebook.png" alt="Facebook" title="Facebook" />
            </a>
            <a href="https://www.instagram.com/karoryfer_lecolds/" target="_blank">
              <img src="/assets/img/instagram.png" alt="Instagram" title="Instagram" />
            </a>
            <a href="http://www.twitter.com/karoryfer" target="_blank">
              <img src="/assets/img/twitter.png" alt="Twitter" title="Twitter" />
            </a>
            <a href="http://www.youtube.com/user/KaroryferLecolds" target="_blank">
              <img src="/assets/img/youtube.png" alt="YouTube" title="YouTube" />
            </a>
          </div>
        </div>
      </div>

      {{ content }}

      <div class="ui inverted footer segment">
        <div class="ui container">
          <div class="ui grid">
            <div class="center aligned one column row">
              <div class="column">
                <img src="/assets/img/karoryfer-lecolds.png" alt="Karoryfer Lecolds" title="Karoryfer Lecolds" class="ui centered image"/>
              </div>
              <div class="column">
                <p>
                  Karoryfer Lecolds<br />
                  2012-2025
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sixteen wide column">&nbsp;</div>
    </div>
  </body>
</html>
