<%= render_title t('title.users') %>
<h1><%=t 'title.users' %></h1>
<% content_for :actions do %>
	<ul>
    <%= link_to_action t('action.new_user'), new_admin_user_path %>
	</ul>
<% end %>
<ul>
	<% @presenters.each do |presenter| %>
		<li><%= link_to presenter.login, presenter.path %></li>
	<% end %>
</ul>
