<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to image_tag( "logo.jpg", :alt => 'Karoryfer Lecolds', :title => 'Karoryfer Lecolds' ), root_url %>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <% main_menu_items.each do |title, url, is_active| %>
          <li class="<%= is_active ? 'active' : 'normal' %>">
            <%= link_to title, url, :class => 'main-menu-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% if content_for? :actions %>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-inline pull-right">
        <%= yield :actions %>
      </ul>
    </div>
  </div>
<% end %>
</div>
