<div class="row">
  <div class="col-sm-3">
    <%= link_to image_tag('logo.png', alt: 'Karoryfer Lecolds', title: 'Karoryfer Lecolds' ), root_url, class: 'pagename' %>
  </div>
  <div class="col-sm-8">
    <header>
    <% main_menu_items.each do |title, url, is_active| %>
      <%= link_to title, url, class: is_active ? 'current button' : 'button' %>
    <% end %>
    <% unless current_user -%>
      <a href="<%= admin_login_path %>">&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <% end %>
    </header>
  </div>
  <div class="col-sm-1 menu">
    <a href="?l=en">en</a>|<a href="?l=pl">pl</a>
  </div>
</div>
