<p>
<% if page_url = Settings.twitter_url %>
	<%= link_to image_tag( 'social/twitter.png' ), page_url, :target => '_blank', :class => 'social' -%>
<% end %>
<% if page_url = Settings.facebook_url %>
	<%= link_to image_tag( 'social/facebook.png' ), page_url, :target => '_blank', :class => 'social' -%>
<% end %>
</p>

